
<div ng-show="!initialized">
    <div>
        <span>
            <input type="radio" name="newSession" ng-model="newSession" ng-value="true"/>
            New Session
        </span>
        <span>
            <input type="radio" name="newSession" ng-model="newSession" ng-value="false"/>
            Resume Session
        </span>
    </div>
    <div ng-show="newSession">
        <form class="css-form">
            Server <input type="text" ng-model="server" required><br>
            Channel <input type="text" ng-model="channel" required><br>
            Nick: <input type="text" ng-model="nick" required><br>
            Nick Password: <input type="password" ng-model="nickPassword">(Optional)<br>
            Session Password: <input type="password" ng-model="sessionPassword" minlength="6">(Optional, at least 6 characters)<br>
            <input type="submit" ng-click="initialize()"/>
        </form>
    </div>
    <div ng-show="!newSession">
        <form class="css-form">
            Nick: <input type="text" ng-model="nick" required><br>
            Session Password: <input type="password" ng-model="sessionPassword" required><br>
            <input type="submit" ng-click="initialize()"/>
        </form>
    </div>
    <style type="text/css">
        .css-form input.ng-invalid.ng-touched {
            background-color: #FA787E;
        }
        .css-form input.ng-valid.ng-touched {
            background-color: #fff;
        }
    </style>
</div>

<div ng-show="initialized && server !=='' && channel !=='' ">
    <div class="pure-g">
        <div class="pure-u-3-4">
            <h1>{{server}}:{{channel}}</h1>
        </div>
        <div class="pure-u-1-4">
            <button ng-click="logoff()">Log Off</button>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-3-4">
            <div class="pure-g" ng-repeat="message in channelMessages">
                <div class="pure-u-1-6">
                    {{message.date | date:"H:mm:ss"}}
                </diV>
                <div class="pure-u-1-6">
                    {{message.from}}
                </div>
                <div class="pure-u-2-3">
                    {{message.content}}
                </div>
            </div>
        </div>
        <div class="pure-u-1-4">
            <h2>Users</h2>
            <div ng-repeat="name in channelNames">
                {{name}}
                <br>
            </div>
        </div>
    </div>
    <div>
        <form>
            <input type="text" ng-model="userMessage"><button ng-click="sendUserMessage()">Send</button>
        </form>
    </div>
</div>

